    <div class="row">
      <section class="span12">
{% set form = this.beginWidget('CActiveForm', {
	'id': 'login-form',
	'enableClientValidation': true,
	'clientOptions': {
		'inputContainer': '.control-group',
		'validateOnSubmit': true,
	},
}) %}

          <fieldset>
            <div class="control-group">
              {{ form.labelEx(model, 'username', {'class': 'control-label'}) }}
              {{ form.textField(model, 'username') }}
              {{ form.error(model, 'username', {'class': 'help-block'}) }}
            </div>
            <div class="control-group">
              {{ form.labelEx(model, 'password', {'class': 'control-label'}) }}
              {{ form.passwordField(model, 'password') }}
              {{ form.error(model, 'password', {'class': 'help-block'}) }}
            </div>
            <div class="rememberMe">
              {% set rememberMe = form.checkBox(model, 'rememberMe', {'checked': 'checked'}) ~ model.getAttributeLabel('rememberMe') %}
              {{ C.Html.label(rememberMe, 'LoginForm_rememberMe', {'class': 'checkbox'}) }}
              {{ form.error(model, 'rememberMe', {'class': 'help-block'}) }}
            </div>
            <div>
              {{ C.Html.submitButton(t('sourcebans', 'Login'), {'class': 'btn btn-success'}) }}
              <div class="help-inline">{{ C.Html.link(t('sourcebans', 'Lost password'), ['site/lostPassword']) }}</div>
            </div>
          </fieldset>

{% do this.endWidget %}
      </section>
    </div>