{% if App.user.data.hasPermission('LIST_ADMINS') %}
    <section class="tab-pane fade" id="pane-list">
{% set grid = this.widget('zii.widgets.grid.CGridView', {
	'id': 'admins-grid',
	'dataProvider': admins.search,
	'columns': [
		{
			'class': 'CCheckBoxColumn',
			'selectableRows': 2,
		},
		'name',
		{
			'headerHtmlOptions': {
				'width': '192',
			},
			'name': 'group.name',
		},
		{
			'headerHtmlOptions': {
				'width': '192',
			},
			'name': 'server_groups.name',
			'type': 'ntext',
			'value': '($server_groups = $data->server_groups(array("order" => "name"))) ? implode("\n", $server_groups) : null',
		},
		{
			'class': 'CButtonColumn',
			'buttons': {
				'update': {
					'visible': 'Yii::app()->user->data->hasPermission("EDIT_ADMINS")',
				},
				'delete': {
					'visible': 'Yii::app()->user->data->hasPermission("DELETE_ADMINS")',
				},
			},
			'template': '{update} {delete}',
			'updateButtonLabel': t('sourcebans', 'Edit'),
			'updateButtonUrl': 'Yii::app()->createUrl("admins/edit", array("id" => $data->primaryKey))',
			'deleteButtonUrl': 'Yii::app()->createUrl("admins/delete", array("id" => $data->primaryKey))',
			'visible': App.user.data.hasPermission('DELETE_ADMINS', 'EDIT_ADMINS'),
		},
	],
	'afterAjaxUpdate': 'js:createSections',
	'cssFile': false,
	'itemsCssClass': 'items table table-accordion table-condensed table-hover',
	'nullDisplay': C.Html.tag('span', {'class': 'null'}, t('sourcebans', 'None')),
	'pager': {
		'class': 'bootstrap.widgets.TbPager',
	},
	'pagerCssClass': 'pagination pagination-right',
	'rowHtmlOptionsExpression': 'array(
		"class"=>"header",
		"data-key"=>$data->primaryKey,
		"data-login-time"=>Yii::app()->format->formatDatetime($data->login_time),
		"data-community-id"=>$data->communityId,
		"data-flags"=>$data->flags,
		"data-immunity"=>$data->immunity,
		"data-permissions"=>isset($data->group) ? CJavaScript::encode(array_values(CHtml::listData($data->group->permissions,"name","name"))) : null,
	)',
	'selectionChanged': 'js:function(grid) {
		var $header  = $("#" + grid + " tr.selected");
		var $section = $header.next("tr.section").find("div:first-child");
		
		$("#" + grid + " tr.section div:first-child").not($section).slideUp(200, "linear");
		if(!$header.length)
			return;
		
		$section.slideDown(200, "linear");
	}',
	'summaryCssClass': '',
	'summaryText': false,
}) %}
    </section>
{% endif %}
{% if App.user.data.hasPermission('ADD_ADMINS') %}
    <section class="tab-pane fade" id="pane-add">
{% do this.renderPartial('/admins/_form', {
	'action': ['admins/add'],
	'model': admin,
}) %}
    </section>
    <section class="tab-pane fade" id="pane-import">
{% do this.renderPartial('/admins/_import') %}
    </section>
{% endif %}
{% if App.user.data.hasPermission('OVERRIDES') %}
    <section class="tab-pane fade" id="pane-overrides">
      <p>{{ t('sourcebans', 'Here you can change the permissions on any command, either globally, or for a specific group, without editing plugin source code.') }}</p>
      <p>{{ t('sourcebans', 'See the {link} for more details.', {'{link}': C.Html.link('SourceMod wiki', 'http://wiki.alliedmods.net/Overriding_Command_Access_(SourceMod)', {'target': '_blank'})}) }}</p>
{% do this.widget('zii.widgets.grid.CGridView', {
	'id': 'overrides-grid',
	'dataProvider': overrides.search,
	'columns': [
		{
			'headerHtmlOptions': {
				'class': 'nowrap',
			},
			'htmlOptions': {
				'class': 'nowrap',
			},
			'name': 'type',
			'value': '($types = SBOverride::getTypes()) ? $types[$data->type] : null',
		},
		{
			'name': 'name',
		},
		{
			'name': 'flags',
			'type': 'ntext',
			'value': '($flags = SourceBans::app()->flags) ? $flags[$data->flags] : null',
		},
	],
	'cssFile': false,
	'itemsCssClass': 'items table table-condensed table-hover',
	'pager': {
		'class': 'bootstrap.widgets.TbPager',
	},
	'pagerCssClass': 'pagination pagination-right',
	'selectableRows': 0,
	'summaryCssClass': '',
	'summaryText': false,
}) %}
    </section>
{% endif %}
    <section class="tab-pane fade" id="pane-actions">
{% do this.widget('zii.widgets.grid.CGridView', {
	'id': 'actions-grid',
	'dataProvider': actions.search,
	'columns': [
		{
			'headerHtmlOptions': {
				'class': 'nowrap',
			},
			'htmlOptions': {
				'class': 'nowrap',
			},
			'name': 'name',
		},
		'message',
		{
			'headerHtmlOptions': {
				'class': 'nowrap',
			},
			'htmlOptions': {
				'class': 'nowrap',
			},
			'name': 'admin.name',
			'value': 'isset($data->admin) ? $data->admin->name : Yii::app()->params["consoleName"]',
		},
		{
			'headerHtmlOptions': {
				'class': 'nowrap text-right',
			},
			'htmlOptions': {
				'class': 'nowrap text-right',
			},
			'name': 'create_time',
			'type': 'datetime',
		},
	],
	'cssFile': false,
	'itemsCssClass': 'items table table-accordion table-condensed table-hover',
	'nullDisplay': C.Html.tag('span', {'class': 'null'}, t('sourcebans', 'None')),
	'pager': {
		'class': 'bootstrap.widgets.TbPager',
	},
	'pagerCssClass': 'pagination pagination-right',
	'rowHtmlOptionsExpression': 'array(
		"data-id"=>$data->id,
	)',
	'selectableRows': 0,
	'summaryCssClass': '',
	'summaryText': false,
}) %}
    </section>
    
<script id="admins-section" type="text/x-template">
      <div class="row-fluid">
        <div class="span6">
          <h3>{{ t('sourcebans', 'Server permissions') }}</h3>
<% if(header.data("flags")) { %>
          <ul>
<% for(var flag in flags) { %>
<% if(flag != "{{ constant('SM_ROOT') }}" && (header.data("flags").indexOf("{{ constant('SM_ROOT') }}") != -1 || header.data("flags").indexOf(flag) != -1)) { %>
            <li><%=flags[flag] %></li>
<% } %>
<% } %>
          </ul>
<% } else { %>
          <p><%=nullDisplay %></p>
<% } %>
        </div>
        <div class="span6">
          <h3>{{ t('sourcebans', 'Web permissions') }}</h3>
<% if(header.data("permissions")) { %>
          <ul>
<% for(var permission in permissions) { %>
<% if(permission != "OWNER" && (header.data("permissions").indexOf("OWNER") != -1 || header.data("permissions").indexOf(permission) != -1)) { %>
            <li><%=permissions[permission] %></li>
<% } %>
<% } %>
          </ul>
<% } else { %>
          <p><%=nullDisplay %></p>
<% } %>
        </div>
</script>

{% do App.clientScript.registerScript('admin_admins_createSections', '
  var flags = ' ~ C.JavaScript.encode(SourceBans.app.flags.toArray()) ~ ',
      permissions = ' ~ C.JavaScript.encode(SourceBans.app.permissions.toArray()) ~ ';
  
  function createSections() {
    var nullDisplay = \'' ~ grid.nullDisplay ~ '\';
    
    $("#admins-grid tr[data-key]").each(function(i, header) {
      $section = $("<tr class=\\"section\\"><td colspan=\\"" + header.cells.length + "\\"><div></div></td></tr>").insertAfter($(header));
      
      $section.find("div").html($("#admins-section").template({
        header: $(header),
        nullDisplay: nullDisplay
      }));
      $section.find("a").each(function() {
        this.href = this.href.replace("__ID__", $(header).data("key"));
      });
    });
  }
  
  createSections();
') %}