{% if App.user.data.hasPermission('ADD_BANS') %}
    <section class="tab-pane fade" id="pane-add">
{% do this.renderPartial('/bans/_form', {
	'action': ['bans/add'],
	'demo': demo,
	'model': ban,
}) %}
    </section>
    <section class="tab-pane fade" id="pane-import">
{% do this.renderPartial('/bans/_import') %}
    </section>
{% endif %}
{% if App.user.data.hasPermission('BAN_APPEALS') %}
    <section class="tab-pane fade" id="pane-appeals">
      <ul class="menu nav nav-pills">
        <li class="active"><a href="#appeals">{{ t('sourcebans', 'views.admin.bans.appeals.active.title') }}</a></li>
        <li><a href="#appeals/archive">{{ t('sourcebans', 'views.admin.bans.appeals.archive.title') }}</a></li>
      </ul>
{% do this.renderPartial('/appeals/_admin', {
	'model': appeals,
}) %}
    </section>
    <section class="tab-pane fade" id="pane-appeals-archive">
      <ul class="menu nav nav-pills">
        <li><a href="#appeals">{{ t('sourcebans', 'views.admin.bans.appeals.active.title') }}</a></li>
        <li class="active"><a href="#appeals/archive">{{ t('sourcebans', 'views.admin.bans.appeals.archive.title') }}</a></li>
      </ul>
{% do this.renderPartial('/appeals/_admin', {
	'archive': true,
	'model': appeals,
}) %}
    </section>
{% endif %}
{% if App.user.data.hasPermission('BAN_REPORTS') %}
    <section class="tab-pane fade" id="pane-reports">
      <ul class="menu nav nav-pills">
        <li class="active"><a href="#reports">{{ t('sourcebans', 'views.admin.bans.reports.active.title') }}</a></li>
        <li><a href="#reports/archive">{{ t('sourcebans', 'views.admin.bans.reports.archive.title') }}</a></li>
      </ul>
{% do this.renderPartial('/reports/_admin', {
	'model': reports,
}) %}
    </section>
    <section class="tab-pane fade" id="pane-reports-archive">
      <ul class="menu nav nav-pills">
        <li><a href="#reports">{{ t('sourcebans', 'views.admin.bans.reports.active.title') }}</a></li>
        <li class="active"><a href="#reports/archive">{{ t('sourcebans', 'views.admin.bans.reports.archive.title') }}</a></li>
      </ul>
{% do this.renderPartial('/reports/_admin', {
	'archive': true,
	'model': reports,
}) %}
    </section>
{% endif %}