{% set form = this.beginWidget('CActiveForm', {
	'id': 'overrides-dialog',
	'action': ['overrides/add'],
	'enableClientValidation': true,
	'clientOptions': {
		'inputContainer': '.control-group',
		'validateOnSubmit': true,
	},
	'errorMessageCssClass': 'help-inline',
	'htmlOptions': {
		'aria-hidden': 'true',
		'class': 'form-horizontal modal fade hide',
		'role': 'dialog',
	},
}) %}

<div class="modal-header">
  <button aria-hidden="true" class="close" data-dismiss="modal" type="button">&times;</button>
  <h3><{{ t('sourcebans', 'Override') }}</h3>
</div>
<div class="modal-body">
  <div class="control-group">
		{{ form.label(model, 'type', {'class': 'control-label'}) }}
		<div class="controls">
			{{ form.dropDownList(model, 'type', SB.Override.getTypes) }}
			{{ form.error(model, 'type') }}
		</div>
  </div>

	<div class="control-group">
		{{ form.labelEx(model, 'name', {'class': 'control-label'}) }}
		<div class="controls">
			{{ form.textField(model, 'name', {'size': 60, 'maxlength': 64}) }}
			{{ form.error(model, 'name') }}
		</div>
	</div>

	<div class="control-group">
		{{ form.labelEx(model, 'flags', {'class': 'control-label'}) }}
		<div class="controls">
			{% set radio = C.Html.radioButton('SBServerGroup[flags]', true, {'value': ''}) ~ t('sourcebans', 'Anyone') }}
			{{ C.Html.label(radio, 'SBServerGroup_flags', {'class': 'radio'}) }}
			{% for flag, description in SourceBans.app.flags %}
				{% set radio = C.Html.radioButton('SBServerGroup[flags]', false, {'id': 'SBServerGroup_flags_' ~ flag, 'value': flag}) ~ description %}
				{{ C.Html.label(radio, 'SBServerGroup_flags_' ~ flag, {'class': 'radio'}) }}
			{% endfor %}
			{{ form.error(model, 'flags') }}
		</div>
	</div>
</div>
<div class="modal-footer">
  <button aria-hidden="true" class="btn" data-dismiss="modal" type="button">{{ t('sourcebans', 'common.close') }}</button>
  <button class="btn btn-primary" disabled="disabled" type="submit">{{ t('sourcebans', 'Add override') }}</button>
</div>

{% do this.endWidget %}